langgraph
langchain
langchain-openai
python-dotenv
pydantic
rich
tqdm
ipykernel
langchain-chroma
chromadb
langchain-text-splitters
langchain-huggingface
sentence-transformers
pandas
streamlit
pymupdf
python-docx
python-pptx
PyYAML